<div class="card bg-base-100 shadow" id="todo-{{ todo.id }}">
    <div class="card-body p-4">
      <div class="flex items-center justify-between">
        <div class="flex items-center space-x-4">
          <form 
            hx-put="/todos/{{ todo.id }}"
            hx-target="#todo-{{ todo.id }}"
            hx-swap="outerHTML"
            hx-trigger="change from:input[id='completed-{{ todo.id }}']" 
            >
            <!-- 隐藏字段（默认 false） -->
            <input type="hidden" name="completed" value="false">
            <!-- 复选框（选中时覆盖隐藏字段的值） -->
            <input type="checkbox" 
                class="checkbox checkbox-primary"
                onchange="this.previousElementSibling.value=this.checked"
                {% if todo.completed %}checked{% endif %}
                id="completed-{{ todo.id }}"
                value="true">
            <input type="hidden" name="title" value="{{ todo.title }}"/>
          </form>
          <span class="{% if todo.completed %}line-through opacity-75{% endif %}">
            {{ todo.title }}
          </span>
        </div>
        <button class="btn btn-sm btn-error"
                hx-delete="/todos/{{ todo.id }}"
                hx-target="#todo-{{ todo.id }}"
                hx-swap="outerHTML">
          Delete
        </button>
      </div>
    </div>
  </div>