<div class="mb-4">
    <label class="label label-text font-semibold">{{ field.label }}</label>
    {% for option in field.choices %}
    <div class="flex items-center space-x-2 mt-1">
        <input
            type="radio"
            id="{{ field.name }}_{{ option.value }}"
            name="{{ field.name }}"
            value="{{ option.value }}"
            {% if item and item[field.name] == option.value %}checked{% endif %}
            class="radio radio-primary"
        >
        <label for="{{ field.name }}_{{ option.value }}">
            {{ option.label }}
        </label>
    </div>
    {% endfor %}
</div>
