<div class="mb-4">
    <label class="label label-text font-semibold">{{ field.label }}</label>
    <div class="grid grid-cols-2 gap-4">
        <div>
            <label class="label label-text text-xs">開始日</label>
            <input
                type="date"
                name="{{ field.name }}_start"
                value="{{ item.start_date }}"
                class="input input-bordered w-full"
            >
        </div>
        <div>
            <label class="label label-text text-xs">終了日</label>
            <input
                type="date"
                name="{{ field.name }}_end"
                value="{{ item.end_date }}"
                class="input input-bordered w-full"
            >
        </div>
    </div>
</div>
